header.main-header {
  height: 520px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff6237eb;
  background-image: url("/images/foggy-birds.png");
  padding-top: 120px;
}

header.main-header .name {
  color: #fff;
  font-weight: 300;
  margin: 0;
}

header.main-header .name .first {
  font-weight: 600;
}